@import "../../../../scss/index.scss";

// Formatação
.container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &,
    div {
      width: 100%;
    }

    div {
      border-bottom: rem-calc(1) solid $tertiary-bg-color;

      display: flex;
      align-items: center;

      img {
        width: rem-calc(20);
      }

      input {
        border: none;

        color: $primary-text-color;
        font-size: rem-calc(18);

        width: 100%;
        height: rem-calc(50);
        margin-left: rem-calc(14);

        &::placeholder {
          color: $primary-text-color;
        }
      }
    }

    input {
      &[type="submit"] {
        background: $secondary-bg-color;
        border: none;
        border-radius: rem-calc(10);

        color: $secondaty-text-color;
        font-size: rem-calc(18);

        width: 100%;
        height: rem-calc(60);
        margin: rem-calc(25) 0;

        cursor: pointer;

        &:disabled {
          background: darken($secondary-bg-color, 20%);

          cursor: not-allowed;
        }
      }
    }
  }

  p {
    color: $secondary-bg-color;
    font-size: rem-calc(18);
  }
}
