// Cores principais de background
$primary-bg-color: #fff;
$secondary-bg-color: #dd0330;
$tertiary-bg-color: #4a4a4a;

// Cores principais de texto
$primary-text-color: $tertiary-bg-color;
$secondaty-text-color: $primary-bg-color;
